body {
    background-color: aqua !important;
}

/* -----------------------------
 * GENERAL
 * ----------------------------- */

/* Set fonts */
@font-face {
    font-family: Campton-Black;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/webfonts/30D745_0_0.ttf');
}

@font-face {
    font-family: Campton-Bold;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/webfonts/30D745_1_0.ttf');
}

@font-face {
    font-family: Campton-Book;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/webfonts/30D745_2_0.ttf');
}

@font-face {
    font-family: Campton-Medium;
    font-style: normal;
    font-weight: 100;
    src: url('fonts/webfonts/30D745_3_0.ttf');
}

@font-face {
    font-family: Campton-ExtraLight;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/webfonts/30D745_4_0.ttf');
}


html {
    font-family: "Campton ExtraLight","Helvetica Neue",Helvetica,Arial,sans-serif;    
}


/* -----------------------------
 * GENERAL LANDING PAGE STYLES
 * ----------------------------- */


/* Title on Landing Page */
.wh_publication_title > a {
    color: #8a8a8a;
    font-size: 4em;
    font-family: Campton-Bold;
    padding-left: 1em;
} 

/* Top menu  */
.wh_top_menu ul a {
    color: #8a8a8a;
    font-family: Campton-Bold;
    text-transform: uppercase;
}

/* Top menu images */
.wh_top_menu img {
    max-width: 200px;
    max-height: 37px;
}

/* Background image in search box */
.wh_search_input {
    display: block;
    padding: 5em;
    margin: 0;
    background-image: url('img/07_HIPSTER.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.3);
}

/* Content area */
.wh_main_page 
.wh_content_area {
    background-color: #4EAD90;
}

/* Tiles */
.wh_tile {
    font-family: "Campton ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: transform;
}

.wh_tile:hover {
    transform: scale(1.1);
}

.wh_tile_title:hover {
    cursor: pointer;
}

.wh_tile_shortdesc {
    font-style: normal;
}



/* -----------------------------
 * TOPIC STYLES
 * ----------------------------- */

.wh_topic_content,
.body {
    font-family: "Campton ExtraLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4d5251;
}

.topictitle1 {
    font-family: "Campton ExtraLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
}

.topic\/shortdesc, /* Declared this way so it never overwrites the navigation panel (left) tooltips the backslash just escapes the following slash*/
.uicontrol {
    font-family: "Campton ExtraLight","Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #005475; 
}

.uicontrol {
    font-weight: normal;
    font-style: italic;
}

.wh_topic_page {
    font-family: "Campton ExtraLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4d5251;
}

.tasklabel {
    font-family: "Campton ExtraLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4d5251;
    text-transform: uppercase
}

.varname {
    color: #4EAD90;
}

.userinput {
    background-color: #4d5251;
}

.codeph {
    color: #005475;
    font-weight: bold;
}

/* Remove spacing between substeps */
.substepexpand {
	margin-bottom: 0em;
	margin-top: 0em;
}

/* Remove "Generated by Oxygen XML" from footer */
.footer-container {
    display: none;
}

/* Notes */
.note {
    padding: 15px;
    background-color: rgba(78, 173, 144, 0.4);
    page-break-inside: avoid;
}

.note a {
    color: #005475;
}

.note .codeph {
    background-color: transparent;
}


/* Tables */
.thead {
    background-color: #4EAD90;
    color: #FFFFFF;
}

.table {
    border-color: black;
    border-collapse: collapse;
}



/* Navigation bar */
.wh_publication_toc a,
.wh_publication_toc a:visited {
    font-family: "Campton ExtraLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #005475; 
} 

.wh_publication_toc span.topicref:hover,
.wh_publication_toc a:hover {
    background-color: #4ACAA8;
      color: #005475!important;   
}

.wh-tooltip .shortdesc {
    color: #FFFFFF;
}